<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false">
    <property name="LOG_FILE" value="${LOG_FILE:-/app/var/log/application.log}"/>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-trace}"/>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <useJansi>true</useJansi>
        <encoder>
            <pattern>VALIDATOR - %d{yyyy-MM-dd HH:mm:ss} %logger{36} %highlight(%-5level) - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.kagr.videos.jms.monitor" level="INFO" additivity="true"/>
    <logger name="org.springframework" level="OFF" additivity="true"/>
    <logger name="org.apache.activemq.artemis" level="WARN" additivity="true"/>
    <logger name="org.apache" level="OFF" additivity="true"/>
    <logger name="ch.qos.logback" level="OFF" additivity="true"/>
    <logger name="io.netty.buffer" level="OFF" additivity="true"/>
    <logger name="com.kagr.videos.validator.logs" level="INFO" additivity="true"/>


    <root level="${LOG_LEVEL}">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
