<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_LEVEL" value="${LOG_LEVEL:-trace}"/>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <useJansi>true</useJansi>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} %highlight(%-5level) %logger{0} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="trace">
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>
